appdirs==1.4.3
colorama==0.3.7
oauthlib==2.0.1
packaging==16.8
py==1.4.32
pyparsing==2.2.0
pytest==3.0.6
python-dateutil==2.6.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
toml==0.9.2
twarc==1.0.7
typing==3.5.3.0
